.nav-link{
    display: inline-grid;
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 0 6px 6px;
    background: #fef1dc;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: white;
    border-radius: 50px;
    font-size: 15px;

}

.navbar .active {
    color: red;
    font-weight: bold;
}

li{
    float:left;
}

ul{
    list-style-type: none;
    padding-left: 0px
}

.title{
    font-size: 50px;
}

img{
    width: 75px;
    height: 75px;
}