.navbar > a{
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    padding: 5px;
    margin: 0 6px 6px;
    background: rgb(251, 106, 43);
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: black;
}
  
a.active {
    background: rgb(198, 0, 0);
    color: white;
}