.photo {
    height: 500px;
    width: 500px
}

.pizza-container{
    text-align: center;
}

.quiz-page-button{
    padding: 15px;
    
}

.homepage-button{
    margin-top: 15px;
    padding: 10px;
    background: orange;
}
