.photo {
    height: 300px;
    width: 500px
}

.pizza-container{
    text-align: center;
}

.quiz-button-default{
    padding: 15px;
    
}

.user-submit-button{
    margin-top: 15px;
    padding: 10px;
    background: orange;
}

.correct{
    background: green;
    font-weight: bold;
    color: black
}

.incorrect{
    background: red;
    font-weight: bold;
    color: black
}
