/* This is for the pizza cursor */
body{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍕</text></svg>") 16 0,auto;
}

/* Pizza Quiz */

.quiz-body{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔎</text></svg>") 16 0,auto;
    background-color: #fef1dc;
    height: 100vh;
}

.pizza-container{
    text-align: center;
    border: 10px solid rgb(215, 131, 78);
    padding-bottom: 12px;
    background-color: rgb(247, 197, 96);
    border-radius: 30px;
    width: 600px;
    margin: auto;
}

.photo {
    height: 300px;
    width: 500px
}
.quiz-button-default{
    width: 100px;
    height: 50px;
    margin: 5%;
    border-radius: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;

}

.correct{
    background: green;
    font-weight: bold;
    color: black;
    padding: 15px;
    margin: 5%;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.incorrect{
    background: red;
    font-weight: bold;
    color: black;
    padding: 15px;
    margin: 5%;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.leaderboard-button{
    width: 260px;
    height: 50px;
    margin-top: 10px;    
    margin: 2%;
    background-color: white;
    border-radius: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Scores Page */

.score-body {
    /* background-image: url(/images/dancing.gif); */
    background-color: #fef1dc;
    height: 100vh;
} 

.score-body h1 {
    margin: 0;
    text-align: left;
}

.user-card{
    width: 300px;
    height: 180px;
    border: 3px solid orange;
    /* margin-top: 10px; */
    margin: 10px;
    display: inline-block;
    text-align: center;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}

.searchbar {
    padding: 20px 0px 15px 10px
}

.searchbar input {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 15px;
    width: 200px;
}

.users-wrapper {
    background-color: #fef1dc;
}

/* Home Page */

.signup-container{
    flex-direction: row;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    border-radius:25px;
    margin: 60px 20px 20px 20px;
}

.introduction p{
    font-size: 18px;
}

/* Sign Up */

.signup-container{
   display: flex; 
   flex-wrap: wrap;
   justify-content: center;
}

.signup-container h3 {
    font-size: 25px;
    font-weight: bolder;
}

.h3-container {
    padding-right: 10px;
}

.input-container{
   margin-top: 12px; 
}

.input{
    height: 48px;
    width: 400px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
    font-family:'Courier New', Courier, monospace;
}

.submit-button {
    /* align-items: center;
    justify-content: center; */
    width: 260px;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(248, 81, 15);
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
}

/* End of Sign Up */

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  }

#main-body {
    font-family:'Courier New', Courier, monospace;

}

.home-body {
    background-color: #fef1dc;
}

.introduction {
    font-size: 15px;
    text-align: left;
    padding-left: 30px;
}
